<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">NGO SCRAPER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/enter_data">Download xls </a>
        </li>
              <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/enter_data_2">Check Tables</a>
        </li>
                <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/get_status_data">Check status</a>
        </li>

             <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/stream-logs">Check live</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<div class="container my-5 text-center">

<form action="/submit_data_2" method ="post">

    <label for="state">Choose a state:</label>

<select name="state" id="states">
    {% for key,value in states.items() %}
  <option value="{{value}}">{{ value}}</option>

    {% endfor %}

</select>

  <label for="page">Enter Page No</label>
    <input type="Number" name="page"  id="page">

  <input type="submit" value="Submit">

    <p>Please verify data of table from website</p>
</form>

<table class="table table-responsive">
<thead>
<tr>
    <th>State Name</th>
    <th>Total pages</th>
</tr>
</thead>
    <tbody>
    {% for key,value in list.items() %}
  <tr>
      <td>{{ key }}</td>
<td>{{ value }}</td>
  </tr>
    {% endfor %}
    </tbody>
</table>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>